.container{
    text-align: center;
}
.label{
    font-size: 7em;
    font-family: Arial;
    justify-content: space-between;
}
button{
    align-items: center;
    padding: 10px 20px;
    font-family: Arial;
    font-weight: 700;
    background-color: aquamarine;
}
#result{
    font-family: Arial;
    text-align: center;
    font-size: 3em;
}